.App {
	text-align: center;
	width: 100vw;
	height: 100vh;
	padding: 0px;
	background: rgb(243, 220, 235);

	button {
		font-weight: bold;
	}
	div{
		padding: 1px;
	}
	.panel {
		position: absolute;
		margin: 1% 2% 1% 2%;
		width: 45%;
		height: 95%;
		background: rgb(47, 158, 161);
		color: white;
		font-weight: bold;
	}
	.margin {
		margin:1% 2% 1% 52% ;
	}
	.button {
		padding: 5px;
	}

	.todoList {
		font-weight: bold;
		font-size: medium;
	}

	.toggleAll{
		display: flex;
		justify-content: center;
		text-align: left;
		margin-top: 2%;
	}
	.todo{
		display: flex;
		justify-content: center;
		font-weight: lighter;
		font-size: medium;
	}
	.taskPane {
		text-align: center;
		font-weight: lighter;
		font-size: medium;
	}
	.task{
		display: flex;
		justify-content: center;
		text-align: left;
	}
	.heading {
		margin-bottom: 3%;
		font-weight: bold;
		font-size: medium;
	}

	.filter{
		margin-top: 1%;
	}
	.iconButton{
		margin-top: -10px;
	}
	input{
		color: #fff;
	}
}
