.App {
	text-align: center;
	width: 100vw;
	height: 100vh;
	padding: 0px;
	background: rgb(243, 220, 235);

	button {
		font-weight: bold;
	}
	div{
		padding: 5px;
	}
	.panel {
		position: absolute;
		margin: 1% 2% 1% 2%;
		width: 45%;
		height: 95%;
		background: rgb(47, 158, 161);
		color: white;
		font-weight: bold;
	}
	.margin {
		margin:1% 2% 1% 52% ;
	}
	.button {
		padding: 5px;
	}
	.todo{
		font-weight: lighter;
		font-size: medium;
	}
	.todoList {
		padding-left: 50px;
		text-align: left;
		font-weight: lighter;
		font-size: medium;
	}
	.taskPane {
		padding-left: 20%;
		text-align: left;
		font-weight: lighter;
		font-size: medium;
	}

	.filter{
	  float: left;
		padding-left:40px;
	}

}
